<%- include("partials/header"); -%>

<div class="container-fluid blog-body">
    <h1>Contact me!!</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id faucibus nisl tincidunt eget nullam non nisi est. Vitae justo eget magna fermentum. Interdum velit euismod in pellentesque massa placerat. Nascetur ridiculus mus mauris vitae ultricies. Erat imperdiet sed euismod nisi porta lorem. Quis commodo odio aenean sed adipiscing. Tempus egestas sed sed risus pretium quam. Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida neque.
    </p>
</div>


<%- include("partials/footer"); -%>