body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./SL_042620_30310_10.jpg");
  background-size: contain;
  text-align: center;
}
.container-fluid {
  word-wrap: break-word;
  position: relative;
  width: 80%;
}
/* blog page */
.blog-title {
  max-width: 90%;
}
.blog-body {
  margin-top: 50px;
  text-align: left;
}
.cancel {
  position: absolute;
  margin-top: 1%;
  right: 2%;
  float: right;
  font-size: 1.2rem;
  color: red;
}
.cancel:hover {
  color: red;
}
.blog-title {
  color: black;
}
.blog {
  background-color: black;
}
.blog button {
  position: absolute;
  right: 0;
}

.btn-compose {
  text-align: right;
}
/* navbar */
.navbar {
  background-color: white;
}
.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
}
.site-name {
  color: black;
}
.site-name img {
  width: 3rem;
  height: 3rem;
}
.navbar-brand:hover {
  color: black;
}
.nav-item {
  margin: 0 10px;
  letter-spacing: 0.1rem;
}
.nav-link {
  font-weight: bold;
  color: black;
}
.nav-link:hover {
  color: black;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: black;
}
/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: black;
  font-weight: bold;
  background-color: #1c1f23;
}
.foot-para {
  color: white;
  margin: 10px;
}

/* compose page */
#title-box {
  color: black;
  margin: 20px 0;
  width: 80%;
}

textarea {
  color: black;
  width: 80%;
  resize: none;
}
.form-compose {
  padding-top: 50px;
  text-align: left;
}
.form-compose h1 {
  color: black;
}

@media (max-width: 480px) {
}
